html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    margin:0;
    padding:0;
    font-size: 16px;
    background-color:#3A568B;
    font-family: 'Volkhov', serif;
}

a{
    color:#FFE4C4;
    text-decoration: none;
}

a:hover{
    color:#bba890;
}
.container{
    width:100%;
    color:#FFE4C4;
}

.header{
    width:80%;
    border:7px #1b273f solid;
    border-radius: 32px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    font-size:1.7em;
}

.navigation{

}

ul>li{
    display:inline-block;
    list-style: none;
}

.content{
margin-top:2em;
margin-bottom:8em;
display:flex;
flex-wrap: wrap;
}

.photo1{
    margin: 40px auto;
    background-image: url(man.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding:330px 200px;
    border:9px #1b273f solid;
    border-radius: 64px;
}

.text{
    width:40%;
    align-items: center;
    margin: 40px auto;
    font-family: 'Lato', sans-serif;
    line-height: 21px;
    white-space: initial;
}
h3{
    display: inline-block;
    font-size: 3em;
    margin:15px auto;
    line-height: 2em;
    text-decoration: underline;
}

article{
    white-space: pre-wrap;
    line-height: 28px;
    font-size: 1.4em;
}

.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    margin-top: 2em;
    line-height:2.4em;
    font-size:1em;
    color:#FFE4C4;
    border-top:9px #1b273f solid;
    width: 100%;
}

/*DRUGA STRONA*/


.content2{
margin-top:3.5em;
margin-bottom:3.5em;
display:flex;
flex-wrap: wrap;
background-color: #264653;
color:#ffaa64;
}

.education{
width:40%;
margin:40px auto;
}

.photo2{
 margin: 40px auto;
background-image: url(man2.png);
background-repeat: no-repeat;
background-size: cover;
padding:330px 200px;
border:9px #1b273f solid;
border-radius: 64px;
}

@media screen and (max-width:832px){
    .content{
      width: 180%;
      margin: 10px -150px;
      /*display:flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center;
      align-items: center; */
      }
  }

  @media screen and (max-width:832px){
    .content2{
      width: 180%;
      margin: 10px -150px;
      }
  }
