/*THIRD PART*/

.content3{
    width: 100%;
    padding: 5.5em 0;
    display:flex;
    flex-wrap: wrap;
    background-color: #316d85;
    color:#fcbf49;
    }

.photo3{
    margin: 40px auto;
    background-image: url(../man3.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding:22em 13em;
    border:9px #1e4250 solid;
    border-radius: 64px;
    }

@media screen and (max-width:832px){

    .photo3{
    padding:15em 10em;
    }

  }